.loading-overlay {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: show;
  margin: auto;
  display: block;
  background-color: #7ac1e2;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("https://media.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000000;
  font-family: sans-serif;
  font-size: 40px;
  padding: 15px;
}
@media screen and (max-width:650px) {
  body {
    background-color: #7ac1e2;
    background-image: url("");
    padding: 5px;
  }
}

.title {
  font-size: 40px;
  padding-left: 10px;
}
@media screen and (max-width:650px) {
  .title {
    padding-left: 0px;
  }
}

.credits {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}
.credits__photoc {
  font-size: 30px;
  text-align: center;
}

.location {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.location__vehicle {
  display: none;
  border-radius: 3%;
  width: 80%;
  height: 80%;
}
.location__label {
  display: inline-block;
  padding-bottom: 5px;
}
@media screen and (max-width:650px) {
  .location__vehicle {
    width: 90%;
    height: 90%;
  }
}

.suggestion {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  text-decoration: underline;
}
.suggestion__message {
  padding-top: 5px;
}

li {
  display: flex;
  width: 401px;
  flex-direction: column;
  border: none;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  background: #f1f1f1;
  cursor: pointer;
  list-style-type: none;
  margin: 0 0 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width:650px) {
  li {
    margin: 0 0 0 0;
  }
}

li:last-child {
  border-bottom: 1px solid grey;
}

li:hover {
  background-color: #9f9fd6;
}

.options {
  padding-left: 0px;
  margin: 0 0 0 0;
  flex-direction: column;
  justify-content: left;
  font-size: 16px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  justify-content: left;
}
.controls__searchbar {
  font-family: sans-serif;
  font-size: 30px;
  display: block;
  text-align: left;
  padding-left: 5px;
  background: #f1f1f1;
  border: 1px solid grey;
}
.controls__search {
  float: left;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 30px;
  background: #f1f1f1;
}
.controls__search:hover {
  background-color: #9f9fd6;
}
@media screen and (max-width:650px) {
  .controls {
    width: 50%;
    padding-top: 0px;
    padding-left: 0px;
  }
  .controls__search {
    margin-left: 0px;
  }
}

.switch {
  padding-left: 5px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

/*# sourceMappingURL=bundle.css.map*/