.loading-overlay {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: show;
  margin: auto;
  display: block;
  display: none;
  background-color: #7ac1e2;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("https://media.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000000;
  font-family: sans-serif;
  font-size: 40px;
  padding: 15px;
}
@media screen and (max-width:650px) {
  body {
    background-color: #7ac1e2;
    background-image: url("");
    padding: 5px;
  }
}

.title {
  font-size: 40px;
  padding-left: 10px;
}
@media screen and (max-width:650px) {
  .title {
    padding-left: 0px;
  }
}

.credits {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}
.credits__photoc {
  font-size: 30px;
  text-align: left;
}
.credits__message {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  text-decoration: underline;
  padding-top: 5px;
}

.location {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.location__vehicle {
  display: none;
  border-top-left-radius: 3%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 0%;
  width: auto;
  height: 500px;
}
.location__vehicle--ig {
  display: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 3%;
  width: auto;
  height: 500px;
}
@media screen and (max-width:650px) {
  .location {
    flex-direction: column;
  }
  .location__vehicle {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 90%;
    height: 90%;
  }
  .location__vehicle--ig {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 90%;
    height: 90%;
  }
}

.car__name {
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
}

li {
  display: flex;
  width: 401px;
  flex-direction: column;
  border: none;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  background: #f1f1f1;
  cursor: pointer;
  list-style-type: none;
  margin: 0 0 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width:650px) {
  li {
    margin: 0 0 0 0;
  }
}

li:last-child {
  border-bottom: 1px solid grey;
}

li:hover {
  background-color: #9f9fd6;
}

.options {
  display: flex;
  padding-left: 0px;
  margin: 0 0 0 0;
  flex-direction: column;
  justify-content: left;
  font-size: 16px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: left;
}
.controls__searchbar {
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  font-family: sans-serif;
  font-size: 30px;
  text-align: left;
  padding-left: 5px;
  background: #f1f1f1;
  border: 1px solid grey;
}
.controls__search {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  float: left;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 30px;
  background: #f1f1f1;
}
.controls__search:hover {
  background-color: #9f9fd6;
}
@media screen and (max-width:650px) {
  .controls {
    width: 50%;
    padding-top: 0px;
    padding-left: 0px;
  }
  .controls__search {
    margin-left: 0px;
  }
}

.preloading {
  display: none;
}

/*# sourceMappingURL=bundle.css.map*/